body {
    margin: 0;
  
  }
  
  .header {
    padding: 30px;
    height: 20px;
    background-color: #7f512d;
    display: flex;
    column-gap: 80px;
   
  }
  
  .content {
    display: flex;
    height: 800px;
    background: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?t=st=1745858187~exp=1745861787~hmac=6681b80a10528595f9ab32cf1981287560973c8fe230cee4095264e7a1a7b597&w=1380);
  }
  
  .content1 {
    width: 1300px;
    padding: 60px;
    display: block;
    column-gap: 200px;
    letter-spacing: 3px;
    line-height: 2.5;
    text-shadow: 2px 2px 5px rgb(51, 52, 52);
    font-family: 'Times New Roman', serif;
    font-size: 25px;
  
  }
  
  .content2 {
    margin-top: 90px;
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
   
  
  }
  .vijolesApraksts {
    display: block;
    height: 800px;
    background: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?t=st=1745858187~exp=1745861787~hmac=6681b80a10528595f9ab32cf1981287560973c8fe230cee4095264e7a1a7b597&w=1380);
    padding: 60px;
    letter-spacing: 3px;
    line-height: 2.5;
    text-shadow: 2px 2px 5px rgb(51, 52, 52);
    font-family: 'Times New Roman', serif;
    font-size: 25px;
  

  }
  .contentmaciba {
    background: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?t=st=1745858187~exp=1745861787~hmac=6681b80a10528595f9ab32cf1981287560973c8fe230cee4095264e7a1a7b597&w=1380);
    width: 1500px;
    height: 800px;
    padding: 60px;
    display: flex;
    column-gap: 200px;
    letter-spacing: 3px;
    line-height: 2.5;
    text-shadow: 2px 2px 5px rgb(51, 52, 52);
    font-family: 'Times New Roman', serif;
    font-size: 25px;
  }
  img {
    object-fit:cover;
    object-position: 70% 100%;
    border-radius: 50px;
  }
  
  
  
  .footer {
    height: 40px;
    padding: 25px;
    background-color: #895838;
    color:#312015; ;
    display:flex;
  }
  
  .headerpas {
    padding: 25px;
    height: 30px;
    background-color: #895838 ;
    text-align: center;
    display: flex;
    column-gap: 80px;
  
  }
  
  .navigation {
    background-color: #895838;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navigation a {
    float: left;
    color: #312015;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .navigation a:hover {
    background-color: #b9774c;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navigation a.active {
    background-color: #04AA6D;
    color: white;
  }
  