body {
    margin: 0;
}
.header {
    padding: 23px;
    height: 35px;
    background-color: rgb(255, 179, 107);
    display: flex;
    column-gap: 80px;
}
.content1 {
    padding: 20px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    column-gap: 500px;
    font-size: 20px;

}
.content2 {
    display: flex;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    column-gap: 792px;
}
.navigation { 
    padding: 22px;
    height: 30px;
    width: 1000px;
    text-align: right;
    display: flex;
    column-gap: 80px;
    text-decoration-color: black;
}
#bilde1 {
    height: 350px;
}
#bilde2 {
    height: 310px;
}
.footer {
    padding: 30px;
    background-color: rgb(255, 193, 126);
}
.headerpas {
    padding: 25px;
    height: 30px;
    background-color: rgb(196, 120, 39);
    text-align: center;
    display: flex;
    column-gap: 80px;

}